*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
.flex{
    display: flex;
}
main{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
/* #formulario.form{
    
} */
#login.login{
    width: 100%;
    border: 1px solid black;
    padding: 5px;
    flex-direction: column;
}
div#login input#botao{
    margin-top: 10px;
    padding: 5px;
    background-color: #26A69A;
    color: white;
    border-color: white;
}